@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  word-break: break-word;
}

#mdx a{
  font-weight: 500;
  text-decoration: underline;
}

#mdx h1{
  font-weight: 700;
  font-size: 2.25rem;
}

#mdx h2{
  font-weight: 600;
  font-size: 1.75rem;
}

#mdx li{
  padding-left: 1rem;
}

#mdx img{
  margin: 1rem 0;
  border-radius: 0.5rem;
}

#mdx ol{
  list-style-type: decimal;
}

#mdx ul{
  list-style-type: disc;
}

#mdx ol, #mdx ul{
  padding-left: 1.5rem;
}

#mdx p, #mdx ol, #mdx ul, #mdx label{
  font-size: 1.25rem;
  line-height: 2.5rem;
}

#mdx table *{
  padding: 1rem;
  text-align: left;
  border: 1px solid white;
}

pre code{
  padding: 2rem !important;
  border: 2px solid #3f3f46;
  border-radius: 0.75rem !important;
  background-color: #27272a !important;
}

html{
  scroll-behavior: smooth !important;
}

body{
  font-family: 'Lekton', sans-serif;
}

@media screen and (max-width: 768px) {
  #mdx p, #mdx ol, #mdx ul, #mdx label{
    font-size: 1rem;
    line-height: 2.25rem;
  }
}

@media screen and (max-width: 300px) {
  #mdx h1{
    font-weight: 600;
    font-size: 2rem;
  }
  #mdx h2{
    font-weight: 500;
    font-size: 1.5rem;
  }
  #mdx p{
    font-size: 1rem;
    line-height: 2.25rem;
  }
  pre code{
    padding: 1rem !important;
  }
}